<a href="https://colab.research.google.com/github/lmcanavals/ml/blob/main/1101_PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
import matplotlib.pyplot as plt

In [2]:
repo='https://raw.githubusercontent.com/pcsilcan/dm/master/20202/data/'
irisfile='iris.csv'
url='%s%s'%(repo, irisfile)

In [3]:
df = pd.read_csv(url).sample(frac=1)
df.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
4             5.0          3.6           1.4          0.2      Setosa
7             5.0          3.4           1.5          0.2      Setosa
109           7.2          3.6           6.1          2.5   Virginica
79            5.7          2.6           3.5          1.0  Versicolor
141           6.9          3.1           5.1          2.3   Virginica

In [4]:
x_train = df.iloc[:120, :-1].to_numpy()
y_train = pd.get_dummies(df.iloc[:120, -1]).to_numpy()

x_test = df.iloc[120:, :-1].to_numpy()
y_test = pd.get_dummies(df.iloc[120:, -1]).to_numpy()

print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(120, 4) (120, 3)
(30, 4) (30, 3)